.img1{
    width:533px
}
.mt{
    margin-top:100px
}
.mt2{
    margin-top:200px
}
.mt25{
    margin-top:250px
}
/* Purple Text */
.t-purple{
    color:#8D5CF6 !important;
}
.b-purple{
    background-color: #8D5CF6;
}
.fs-0{
    font-size:58px;
}
.c {
    position: relative;
  }
  
  .c img {
    height: auto;
  }
  
  .c .bt {
    width: 50px;
    height: 50px;
    position: absolute;
  }
  .c{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .pl-5{
    padding-left:120px;
  }
  .t-orange{
    color:#FF7B52;
  }
 .b-so{
    background-color: #ebe3d6;
  }
  .t-fade{
    color:#BDBDBD
  }
  /* Purple Border */
  .p-border{
    border:1px solid #8D5CF6 !important;
  }
  .bkg1{
    background-image: url("girl.png");
    background-repeat: no-repeat;
    background-size:100%, 100%;
    z-index: 1;
  }
  .bkg2{
    background-image: url("girl.png");
    background-repeat: no-repeat;
    background-size:100%, 100%;
    z-index: 1;
  }
  .bkg3{
    background-image: url("woman.png");
    background-repeat: no-repeat;
    background-size:100%, 100%;
    z-index: 1;
  }
  .w{
    width:320px
  }
  .w-80{
    width:300px
  }
  .brand-name{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
  }
.high-course{
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 137.931% */
  letter-spacing: 0.2px;
}
.watch{
  border: 3px solid red;
  width:80px;
  margin-bottom:30px
}
.watch1{
  border: 2px solid red;
  width:50px;
  margin-bottom:20px;
  margin-top: -20px;
}