/* body{
    background-color: lightsteelblue;
    margin: 0;
}
.navb{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #335;
    overflow: hidden;
}
li{
    float:left;
    border-right:1px solid black;
}
li a{
    display: block;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}
li a:hover:not(active){
    background-color: #111;
}
.active{
    background:green;
} */